<div class="col-md-12 col-sm-12">
    <table class="table table-striped" style="word-wrap: break-word;">
        <thead>
            <tr class="row">
                <th class="col-5">Producto</th>
                <th class="col-2">Cantidad</th>
                <th class="col-3">Producto unitario</th>
                <th class="col-2">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr class="row" *ngFor="let item of cartList$ | async">
                <td class="col-5">
                    <a (click)="removeCart.emit(item)" placement="top" data-toggle="tooltip" title="tooltip">
                        <i class="fa fa-minus-circle text-danger" aria-hidden="true"></i>
                    </a> {{item.product.description}}</td>
                <td class="col-2"><input type="number" [value]="item.count" (click)="item.count = $event.target.value;udateTotal(item)" required></td>
                <td class="col-3">$ {{item.product.price}}</td>
                <td class="col-2">{{item.product.price * item.count}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="row">
                <td class="col-10"></td>
                <td class="col-2">$ {{total}}</td>
            </tr>
        </tfoot>
    </table>
</div>