<div class="row">
    <div class="col-md-12 col-sm-12">
        <h3 class="mt-3 mb-3" [hidden]="this.navigationStep != 1">Realiza tu pedido en {{deliveryName}}!</h3>
        <h3 class="mt-3 mb-3" [hidden]="this.navigationStep != 2">Completa tus datos!</h3>
    </div>
    <div class="col-md-6 col-sm-12">
        <app-menulist [hidden]="this.navigationStep != 1" [menuList$]="menu$" (addCart)="addCart($event)"></app-menulist>
        <app-dataform [hidden]="this.navigationStep != 2" [dataForm]="dataForm"></app-dataform>
    </div>
    <div class="col-md-6 col-sm-12">
        <app-cart [cartList$]="carts$" (removeCart)="removeCart($event)" [hidden]="!(carts$ | async) || (carts$ | async)?.length == 0"></app-cart>
        <div class="alert alert-primary" role="alert" [hidden]="(carts$| async)?.length > 0">
            Selecciona un producto de la lista!
        </div>
    </div>
    <div class="col-md-12 col-sm-12" [hidden]="this.navigationStep != 1">
        <button (click)="navigation(true)" [disabled]="!(carts$ | async) || (carts$| async)?.length == 0" type="button" class="btn btn-primary float-right ml-3">Continuar</button>
        <button (click)="navigation(false)" type="button" class="btn btn-primary float-right ml-3">Atras</button>
    </div>
    <div class="col-md-12 col-sm-12" [hidden]="this.navigationStep != 2">
        <button (click)="navigation(true)" [disabled]="!dataForm.valid" type="button" class="btn btn-primary float-right ml-3" [title]="!dataForm.valid?'Faltan completar todos tus datos':''">Continuar</button>
        <button (click)="navigation(false)" type="button" class="btn btn-primary float-right ml-3">Atras</button>
    </div>
</div>
<app-modal [title]="'Confirmación'" [messagge]="jsonConfirm" [modalDisplay]="modal.getModal()"></app-modal>